<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
<div class="container">
  <br />
  <br />
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message!=null && message !=''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    {{this.message}}
  </div>
  <br />
  <hr />
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <p>
        <a href="" class="btn btn-block btn-twitter">
          <i class="fab fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook">
          <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- UserName -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input formControlName="UserName" name="" class="form-control" placeholder="User name" type="text" />
        </div>
        <div class="alert alert-danger my-2"
          *ngIf="registerForm.get('UserName')?.invalid && registerForm.get('UserName')?.touched">
          <small class="text-danger " *ngIf="registerForm.get('UserName')?.hasError('required')">UserName is
            required</small>
          <small class="text-danger" *ngIf="registerForm.get('UserName')?.hasError('minlength')">minlength is
            6</small>

        </div>

        <!-- Email -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input formControlName="Email" name="" class="form-control" placeholder="Email address" type="email" />
        </div>
        <div class="alert alert-danger my-2 "
          *ngIf="registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched">
          <small class="text-danger " *ngIf="registerForm.get('Email')?.hasError('required')">Email is
            required</small>
          <small class="text-danger " *ngIf="registerForm.get('Email')?.hasError('pattern')"> invalid Email address
          </small>
        </div>
        <!-- Password -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="Password" class="form-control" placeholder="Create password" type="password" />
        </div>
        <div class="alert alert-danger my-2 "
          *ngIf="registerForm.get('Password')?.invalid && registerForm.get('Password')?.touched">
          <small class="text-danger " *ngIf="registerForm.get('Password')?.hasError('required')">Password is
            required</small>
          <small class="text-danger" *ngIf="registerForm.get('Password')?.hasError('minlength')">minlength is
            6</small>
        </div>
        <!-- Password Confirm -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="PasswordConfirm" class="form-control" placeholder=" Confirm Password"
            type="password" />
        </div>
        <div class="alert alert-danger my-2 " *ngIf="isPasswordMatch()&& registerForm.get('Password')?.touched">
          <small class="text-danger"> Password doesn't match</small>
        </div>
        <!-- Submit  -->
        <div class="form-group">
          <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block">
            Create Account
          </button>
        </div>
        <p class="text-center">Have an account? <a href="login">Log In</a></p>
      </form>
    </article>

  </div>

</div>
