<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message!=null && message !=''">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{this.message}}
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://t3.ftcdn.net/jpg/03/39/70/90/360_F_339709048_ZITR4wrVsOXCKdjHncdtabSNWpIhiaR7.jpg"
          class="img-fluid" alt="Sample image" />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="LoginForm" (ngSubmit)="Login()">
          <h3 class="font-weight-bold text-primary">Login</h3>
          <hr>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input formControlName="Email" type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label" for="form3Example3">Email address</label>
            <div class="alert alert-danger my-2 "
              *ngIf="LoginForm.get('Email')?.invalid && LoginForm.get('Email')?.touched">
              <small class="text-danger " *ngIf="LoginForm.get('Email')?.hasError('required')">Email is
                required</small>
            </div>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input formControlName="Password" type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
            <div class="alert alert-danger my-2 "
              *ngIf="LoginForm.get('Password')?.invalid && LoginForm.get('Password')?.touched">
              <small class="text-danger " *ngIf="LoginForm.get('Password')?.hasError('required')">Password is
                required</small>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input formControlName="RememberMe" class="form-check-input me-2" type="checkbox" value=""
                id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <!-- Forget Password -->
            <a href="#!" class="text-danger">Forgot password?</a>
          </div>

          <!-- Login button -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" [disabled]="LoginForm.invalid" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem">
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="register" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
